# Ignore loci directory
loci/

# Ignore input data file
MAS_c85d20p75i122.loci

#Output from program
out.fas

# Example phylip file
final_haplotypes.phy

*.loci
*.phy

# Associated with dfoilPicker2compd.py
myoutgroups.txt
compDcommands.txt
*.compDtest.txt
*.split.txt
*.picked.txt
*_picked.txt
